<h1>Foo App</h1>
<p>We are sorry you forgot your password, in order to reset your password,  we need you to click the link below.</p>

<p><a href="http://fooapp.com/account/reset?code=<%= user.code %>">Click to Reset your password</a></p>

Thank you for supporting our application, please let us know if you have any questions or concerns.

Thanks

The Team